In [123]:
import numpy as np
import pandas as pd
import utils
import  math
from scipy import optimize
from itertools import combinations

In [124]:
from sklearn import linear_model
from sklearn import ensemble
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, roc_curve, roc_auc_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression

In [125]:
groups = pd.read_csv('Fifa_Worldcup_2022_Groups_Final.csv')
data = pd.read_csv('Past_International_Matches.csv')

In [126]:
groups.head()

,Group,Country_Name,First,Match_index,Second,Match_index.1,Third,Match_index.2
0,A,Qatar,Ecuador,1,Senegal,17,Netherlands,33
1,A,Ecuador,Qatar,1,Netherlands,18,Senegal,34
2,A,Senegal,Netherlands,2,Qatar,17,Ecuador,34
3,A,Netherlands,Senegal,2,Ecuador,18,Qatar,33
4,B,England,IR Iran,3,USA,19,Wales,35

In [127]:
data['tvalue_difference'] = data['tvalue_home'] - data['tvalue_away']
data['is_won'] = (data['home_team_result'] == 'Win') * 1

In [128]:
X = data.loc[:, ['mean_coeff', 'tvalue_home', 'tvalue_away', 'importance']]
Y = data['is_won']

In [129]:
x_train, x_test, y_train, y_test = train_test_split(
    X, Y, test_size=0.5, train_size = 0.5, shuffle = True)

In [130]:
logreg = LogisticRegression()
logreg.fit(x_train, y_train)
log_pred = logreg.predict(x_test)
acc_log = round(logreg.score(x_test, y_test) * 100, 2)
acc_log

66.81

In [131]:
m, n = X.shape

X = np.concatenate([np.ones((m, 1)), X], axis=1)

In [132]:
def sigmoid(z):
    z = np.array(z)
    g = np.zeros(z.shape)
    g = 1 / (1 + np.exp(-z))
    return g

In [133]:
# def costFunction(theta, X, Y):
    
#     m = Y.size 

#     J = 0
#     grad = np.zeros(theta.shape)

#     h = sigmoid(X.dot(theta.T))

#     J = (-1/m) * sum((Y*np.log(h)) + (1-Y)*np.log(1-h))
#     grad = (1/m) * (h - Y).dot(X)
    
#     return J, grad

In [134]:
# initial_theta = np.zeros(n+1)
# options= {'maxiter': 400}


# res = optimize.minimize(costFunction,
#                         initial_theta,
#                         (X, Y),
#                         jac=True,
#                         method='TNC',
#                         options=options)


# cost = res.fun

# theta = res.x

In [141]:
def predict(theta, X):
    m = X.shape[0] 
    p = np.zeros(m)

    h = sigmoid(X.dot(theta.T))

    p = np.round(h)
    
    return p

In [136]:
# prob = sigmoid(np.dot(X[1], theta))
# print(prob)
# p = predict(theta, X)
# print(np.mean(p == Y) * 100)

In [137]:
def costFunctionReg(theta, X, Y, lambda_):
   
    m = Y.size  

    J = 0
    grad = np.zeros(theta.shape)

    h = sigmoid(X.dot(theta.T))
    theta_ = theta
    theta_[0] = 0
    J = -(1/m)*(np.sum(Y*np.log(h) + (1-Y)*np.log(1-h))) + (lambda_/(2*m)) * (np.sum(np.square(theta_)))
    grad = (1/m) * (h - Y).dot(X)
    
    grad = (1/m)* (h-Y).dot(X) + (lambda_ / m)*(theta_)
    
    return J, grad

In [142]:
initial_theta = np.zeros(X.shape[1])

lambda_ = 1

options= {'maxfun': 100}

res = optimize.minimize(costFunctionReg,
                        initial_theta,
                        (X, Y, lambda_),
                        jac=True,
                        method='TNC',
                        options=options)

cost = res.fun
theta = res.x

p = predict(theta, X)

In [144]:
prob = sigmoid(np.dot(X[0], theta))
print(prob)
p = predict(theta, X)
print(np.mean(p == Y) * 100)

0.2813268867716045
66.9202792525396

## Group Stage set-up

In [147]:
for group in set(groups['Group']):
    print('====Group {}===='.format(group))
    for home, away in combinations (groups.query('Group == "{}"'.format(group)).values, 2):
        print("{} vs {} :" ).format(home[0], away[0], end='')
        home = home[0]
        away = away[0]

====Group G====
{} vs {} :

AttributeError: 'NoneType' object has no attribute 'format'