In [1]:
import numpy as np
import pandas as pd
import  math
from scipy import optimize
from itertools import combinations

In [2]:
from sklearn import linear_model
from sklearn import ensemble
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, roc_curve, roc_auc_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPClassifier

In [24]:
groups = pd.read_csv('groupstage.csv')
data = pd.read_csv('Past_International_Matches_Points.csv')
groups.set_index(['Country_Name'])

               Group  conf_coeff  Rank
Country_Name
Qatar              A        0.85    50
Ecuador            A        1.00    44
Senegal            A        0.85    18
Netherlands        A        0.99     8
England            B        0.99     5
IR Iran            B        0.85    20
USA                B        0.85    16
Wales              B        0.99    19
Argentina          C        1.00     3
Saudi Arabia       C        0.85    51
Mexico             C        0.85    13
Poland             C        0.99    26
France             D        0.99     4
Denmark            D        0.99    10
Tunisia            D        0.85    30
Australia          D        0.85    38
Spain              E        0.99     7
Germany            E        0.99    11
Japan              E        0.85    24
Costa Rica         E        0.85    31
Belgium            F        0.99     2
Canada             F        0.85    41
Morocco            F        0.85    22
Croatia            F        0.99    12
Brazil             G        1.00     1
Serbia             G        0.99    21
Switzerland        G        0.99    15
Cameroon           G        0.85    43
Portugal           H        0.99     9
Ghana              H        0.85    61
Uruguay            H        1.00    14
Korea Republic     H        0.85    28

In [4]:
groups.head()

  Country_Name Group  conf_coeff  Rank
0        Qatar     A        0.85    50
1      Ecuador     A        1.00    44
2      Senegal     A        0.85    18
3  Netherlands     A        0.99     8
4      England     B        0.99     5

In [5]:
data['tvalue_difference'] = data['tvalue_home'] - data['tvalue_away']
data['is_won'] = (data['home_team_result'] == 'Win') * 1

In [6]:
X = data.loc[:, ['mean_coeff', 'home_team_fifa_rank', 'away_team_fifa_rank', 'importance','home_team_total_fifa_points','away_team_total_fifa_points']]
Y = data['is_won']
print(X)

       mean_coeff  home_team_fifa_rank  away_team_fifa_rank  importance  \
0           1.000                   59                   22         2.5
1           0.925                    8                   14         1.0
2           1.000                   35                   94         2.5
3           0.850                   65                   86         1.0
4           1.000                   67                    5         2.5
...           ...                  ...                  ...         ...
23916       0.990                  180                  153         2.5
23917       0.990                  192                  135         2.5
23918       0.925                   28                   60         1.0
23919       0.850                   23                   35         1.0
23920       0.850                   29                   32         1.0

       home_team_total_fifa_points  away_team_total_fifa_points
0                                0                            0
1                                0                            0
2                                0                            0
3                                0                            0
4                                0                            0
...                            ...                          ...
23916                          932                         1040
23917                          895                         1105
23918                         1526                         1387
23919                         1553                         1499
23920                         1519                         1500

[23921 rows x 6 columns]

In [7]:
x_train, x_test, y_train, y_test = train_test_split(
    X, Y, test_size=0.5, train_size = 0.5, shuffle = True)

In [8]:
logreg = LogisticRegression()
logreg.fit(x_train, y_train)
log_pred = logreg.predict(x_test)
acc_log = round(logreg.score(x_test, y_test) * 100, 2)
acc_log

67.55

In [9]:
m, n = X.shape

X = np.concatenate([np.ones((m, 1)), X], axis=1)

In [10]:
def sigmoid(z):
    z = np.array(z)
    g = np.zeros(z.shape)
    g = 1 / (1 + np.exp(-z))
    return g

In [11]:
# def costFunction(theta, X, Y):
    
#     m = Y.size 

#     J = 0
#     grad = np.zeros(theta.shape)

#     h = sigmoid(X.dot(theta.T))

#     J = (-1/m) * sum((Y*np.log(h)) + (1-Y)*np.log(1-h))
#     grad = (1/m) * (h - Y).dot(X)
    
#     return J, grad

In [12]:
# initial_theta = np.zeros(n+1)
# options= {'maxiter': 400}


# res = optimize.minimize(costFunction,
#                         initial_theta,
#                         (X, Y),
#                         jac=True,
#                         method='TNC',
#                         options=options)


# cost = res.fun

# theta = res.x

In [13]:
def predict(theta, X):
    m = X.shape[0] 
    p = np.zeros(m)

    h = sigmoid(X.dot(theta.T))

    p = np.round(h)
    
    return p

In [14]:
# prob = sigmoid(np.dot(X[1], theta))
# print(prob)
# p = predict(theta, X)
# print(np.mean(p == Y) * 100)

In [15]:
def costFunctionReg(theta, X, Y, lambda_):
   
    m = Y.size  

    J = 0
    grad = np.zeros(theta.shape)

    h = sigmoid(X.dot(theta.T))
    theta_ = theta
    theta_[0] = 0
    J = -(1/m)*(np.sum(Y*np.log(h) + (1-Y)*np.log(1-h))) + (lambda_/(2*m)) * (np.sum(np.square(theta_)))
    grad = (1/m) * (h - Y).dot(X)
    
    grad = (1/m)* (h-Y).dot(X) + (lambda_ / m)*(theta_)
    
    return J, grad

In [16]:
initial_theta = np.zeros(X.shape[1])

lambda_ = 1

options= {'maxfun': 100}

res = optimize.minimize(costFunctionReg,
                        initial_theta,
                        (X, Y, lambda_),
                        jac=True,
                        method='TNC',
                        options=options)

cost = res.fun
theta = res.x

p = predict(theta, X)

In [17]:
prob = sigmoid(np.dot(X[0], theta))
print(prob)
p = predict(theta, X)
print(np.mean(p == Y) * 100)

0.2997968626963361
67.57660632916685

## Group Stage set-up

In [22]:
teams_groups = groups.set_index(['Country_Name'])
teams_groups['points'] = 0
teams_groups['coefficient'] = 0
teams_groups['total_points'] = 0
teams_groups['probability'] = 0
teams_groups

,Group,conf_coeff,Rank,points,coefficient,total_points,probability
Country_Name,,,,,,,
Qatar,A,0.85,50,0,0,0,0
Ecuador,A,1.00,44,0,0,0,0
Senegal,A,0.85,18,0,0,0,0
Netherlands,A,0.99,8,0,0,0,0
England,B,0.99,5,0,0,0,0
IR Iran,B,0.85,20,0,0,0,0
USA,B,0.85,16,0,0,0,0
Wales,B,0.99,19,0,0,0,0
Argentina,C,1.00,3,0,0,0,0
Saudi Arabia,C,0.85,51,0,0,0,0
Mexico,C,0.85,13,0,0,0,0
Poland,C,0.99,26,0,0,0,0
France,D,0.99,4,0,0,0,0
Denmark,D,0.99,10,0,0,0,0
Tunisia,D,0.85,30,0,0,0,0
Australia,D,0.85,38,0,0,0,0
Spain,E,0.99,7,0,0,0,0
Germany,E,0.99,11,0,0,0,0
Japan,E,0.85,24,0,0,0,0
Costa Rica,E,0.85,31,0,0,0,0
Belgium,F,0.99,2,0,0,0,0
Canada,F,0.85,41,0,0,0,0
Morocco,F,0.85,22,0,0,0,0
Croatia,F,0.99,12,0,0,0,0
Brazil,G,1.00,1,0,0,0,0
Serbia,G,0.99,21,0,0,0,0
Switzerland,G,0.99,15,0,0,0,0
Cameroon,G,0.85,43,0,0,0,0
Portugal,H,0.99,9,0,0,0,0
Ghana,H,0.85,61,0,0,0,0
Uruguay,H,1.00,14,0,0,0,0
Korea Republic,H,0.85,28,0,0,0,0

In [27]:

for group in set(groups['Group']):
    print('====Group {}===='.format(group))
    for home, away in combinations (groups.query('Group == "{}"'.format(group)).values, 2):
        print("{} vs {} : " .format(home[0], away[0], end=''))
        row = pd.DataFrame(np.array([[np.nan, np.nan, np.nan, True, True]]))
#         teams_groups.loc[:, ['probability']] += (1-prob)
#         teams_groups.loc[:, ['probability']] += prob
        home = home[0]
        away = away[0]

        # home_coeff = groups.loc[home, 'conf_coeff']
        # away_coeff = groups.loc[away,'conf_coeff'] 
        margin = 0.05
        points = 0 
        if prob <= 0.5 - margin:
            print("{} wins with a probability of {:2f}".format(away, (1-prob)))

====Group B====
England vs IR Iran :
IR Iran wins with a probability of 0.700203
England vs USA :
USA wins with a probability of 0.700203
England vs Wales :
Wales wins with a probability of 0.700203
IR Iran vs USA :
USA wins with a probability of 0.700203
IR Iran vs Wales :
Wales wins with a probability of 0.700203
USA vs Wales :
Wales wins with a probability of 0.700203
====Group G====
Brazil vs Serbia :
Serbia wins with a probability of 0.700203
Brazil vs Switzerland :
Switzerland wins with a probability of 0.700203
Brazil vs Cameroon :
Cameroon wins with a probability of 0.700203
Serbia vs Switzerland :
Switzerland wins with a probability of 0.700203
Serbia vs Cameroon :
Cameroon wins with a probability of 0.700203
Switzerland vs Cameroon :
Cameroon wins with a probability of 0.700203
====Group A====
Qatar vs Ecuador :
Ecuador wins with a probability of 0.700203
Qatar vs Senegal :
Senegal wins with a probability of 0.700203
Qatar vs Netherlands :
Netherlands wins with a probability of 0.700203
Ecuador vs Senegal :
Senegal wins with a probability of 0.700203
Ecuador vs Netherlands :
Netherlands wins with a probability of 0.700203
Senegal vs Netherlands :
Netherlands wins with a probability of 0.700203
====Group C====
Argentina vs Saudi Arabia :
Saudi Arabia wins with a probability of 0.700203
Argentina vs Mexico :
Mexico wins with a probability of 0.700203
Argentina vs Poland :
Poland wins with a probability of 0.700203
Saudi Arabia vs Mexico :
Mexico wins with a probability of 0.700203
Saudi Arabia vs Poland :
Poland wins with a probability of 0.700203
Mexico vs Poland :
Poland wins with a probability of 0.700203
====Group E====
Spain vs Germany :
Germany wins with a probability of 0.700203
Spain vs Japan :
Japan wins with a probability of 0.700203
Spain vs Costa Rica :
Costa Rica wins with a probability of 0.700203
Germany vs Japan :
Japan wins with a probability of 0.700203
Germany vs Costa Rica :
Costa Rica wins with a probability of 0.700203
Japan vs Costa Rica :
Costa Rica wins with a probability of 0.700203
====Group F====
Belgium vs Canada :
Canada wins with a probability of 0.700203
Belgium vs Morocco :
Morocco wins with a probability of 0.700203
Belgium vs Croatia :
Croatia wins with a probability of 0.700203
Canada vs Morocco :
Morocco wins with a probability of 0.700203
Canada vs Croatia :
Croatia wins with a probability of 0.700203
Morocco vs Croatia :
Croatia wins with a probability of 0.700203
====Group D====
France vs Denmark :
Denmark wins with a probability of 0.700203
France vs Tunisia :
Tunisia wins with a probability of 0.700203
France vs Australia :
Australia wins with a probability of 0.700203
Denmark vs Tunisia :
Tunisia wins with a probability of 0.700203
Denmark vs Australia :
Australia wins with a probability of 0.700203
Tunisia vs Australia :
Australia wins with a probability of 0.700203
====Group H====
Portugal vs Ghana :
Ghana wins with a probability of 0.700203
Portugal vs Uruguay :
Uruguay wins with a probability of 0.700203
Portugal vs Korea Republic :
Korea Republic wins with a probability of 0.700203
Ghana vs Uruguay :
Uruguay wins with a probability of 0.700203
Ghana vs Korea Republic :
Korea Republic wins with a probability of 0.700203
Uruguay vs Korea Republic :
Korea Republic wins with a probability of 0.700203